//#########################
//###Pipeline Parameters###
//#########################

//starting parameters
params.assemblies = ""
params.outdir = "berrywood_results"


//PreProcessing
params.name_split_on=""


//#######################
//###Pipeline Profiles###
//#######################

profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  aws {
    includeConfig 'configs/aws_batch.config'
  }
  singularity {
    includeConfig 'configs/singularity.config'
  }
}
